<style>
.icons {
	margin: 10px auto;
	min-width:750px;
	text-align:center;
	height:100px;
}
.cls_div_1, .cls_div_2, .cls_div_3, .cls_div_4, .cls_div_5 {
	float: left;
	width: 20%;
	height: 100px;
}
.d_l_logo, .github, .gitcafe{float: left}
.twitter,.weibo {float: right}
.d_l_logo {margin:20px 0px}
.github, .gitcafe, .twitter, .weibo {margin:25px auto}

.d_l_logo {
	width:64px;height:64px;
	background:blue;
	border:0;padding:0;
	border-radius:5px;	
	text-align:center;
	line-height:60px;
	font-family:Times New Roman;
	font-size: 34px;
	font-weight:bold;
	color:#FFF
}
.github {
	width:105px;height:46px;
	padding: 0;
	border:0px;
	border-radius:6px;
	font-weight: 600;
	line-height: 45px;
	font-size: 30px;
	text-align: center;
	font-family: Georgia; 
	color: #FFF;
	background:black;
}
.gitcafe {
	width:110px;height:30px;
	color: #2da12d;
	font-weight: 600;
	padding: 0;
	border: 0;
	font-family: PetalaPro, 'Helvetica Neue', Helvetica, Arial, 'Source Han Sans CN', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 45px;
	text-align: center;
}
.gitcafe span {color:black}
.twitter {
	width:110px;height:44px;
	border-radius:5px;
	border:2px solid;

	color: #FFF;
	background:#1CADD9;
	font-size: 30px;
	font-weight: 600;
	line-height: 45px;
	border:0;padding:0;text-align:center;
	font-family: PetalaPro, 'Helvetica Neue', Helvetica, Arial, 'Source Han Sans CN', 'Hiragino Sans GB', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif;
}
.weibo {
	width:95px;height:44px;
	border-radius:5px;
	border:1px solid #FEA54B;
	color:#FFF;
	background:#E6162D;
	font-size: 26px;
	font-weight: 600;
	line-height: 33px;
	padding:0;text-align:center;
	font-family: Comic Sans MS;
}
.weibo span {color: #FEA54B;}
</style>
<section class="container">
			<div class="icons"> 
				<div class="cls_div_1">
					<div class="d_l_logo" onclick="location.href='http://D-L.top'">D_L</div>
				</div>
				<!--
				<div class="cls_div_2">
					<div class="github" onclick="location.href='https://github.com/DD-L?tab=repositories'">github</div>
				</div>
				<div class="cls_div_3">
					<div class="gitcafe" onclick="location.href='https://gitcafe.com/DD-L'"><span>Git</span>Caf&eacute;</div>
				</div>
				<div class="cls_div_4">
					<div class="weibo" onclick="location.href='http://weibo.com/u/2651380573'">wei<span>bo</span></div>
				</div>
				<div class="cls_div_2">
					<div class="twitter" onclick="location.href='https://twitter.com/D_L_tweet'">twitter</div>
				</div>
				-->
			</div>
		</footer>
</section>
<div class="footer"></div>

</body></html>
